body {
   background-image: url("background.jpg");
   position: relative;
}

.features {
   color: white;
   padding-top: 8%;
   height: 650px;
}

.caption {
   font-size: 20px;
}

.title {
   font-family: impact; 
}

.see-more {
   border: 5px solid #FFEB3B; 
   border-radius:30px; 
   margin-bottom: 20px; 
   color:#FFEB3B;
}

.jumbotron {
   background-color: none;
}

.registration {
    margin-top: 8%;
    margin-bottom: 4%;
}
select {
    border: 0;
    background: transparent;
    font-size: 14px; 
    font-family: Lato-Bold;
}
.image {
    margin-top: 15%;
    padding-left: 5%;
   color: white; 
}

.image > h1 {
   font-size: 50px;
}


p {
    margin: 12px;
}
@media (max-width: 800px) {
    .image {
        display: none;
        
    }
    .registration {
      margin-left: 16.6666667%;
      margin-top: 9%;
    }

    .input {
      height: 30px;
      font-size: 12px;
    }
}

@media (max-width: 425px) {
   .registration {
      margin-left: 5%;
      margin-top: 15%;
    }
}