body {
   background-image: url("background.jpg");
   position: relative;
}

img {
   display: block;
   margin: auto;
}

.features {
   color: white;
   padding-top: 8%;
   height: 650px;
   margin: auto;
}


.caption {
   font-size: 20px;
   text-align: center;
}

.title {
   font-family: impact; 
   text-align: center;
}

.see-more {
   border: 5px solid #FFEB3B; 
   border-radius:30px; 
   margin-bottom: 20px; 
   color:#FFEB3B;
   margin-left: 150px;
}

.jumbotron {
   background-color: none;
}

.registration {
    margin-top: 8%;
    margin-bottom: 4%;
}
select {
    border: 0;
    background: transparent;
    font-size: 14px; 
    font-family: Lato-Bold;
}
.image {
    margin-top: 15%;
    padding-left: 5%;
   color: white; 
}

.image > h1 {
   font-size: 50px;
}


p {
    margin: 12px;
}

@media (max-width: 1024px) {
   .see-more{
      padding: 5px 8px;
      border:3px solid #FFEB3B; 
      margin-left: 100px; 
   }

   .caption {
      font-size: 18px;
    }
}
@media (max-width: 800px) {
    .image {
        display: none;
    }
    .title{
      margin-top: 0px;
      font-size: 35px;
      text-align: left;
    }
    .caption {
      font-size: 18px;
      text-align: left;
      margin-left: 0;
    }
    .see-more{
      padding: 5px 8px;
      border:3px solid #FFEB3B;  
      margin-left: 0;
    }
    img {
      margin: 0;
    }
    .registration {
      margin-left: 16.6666667%;
      margin-top: 9%;
    }

    .input {
      height: 30px;
      font-size: 12px;
    }

    .features {
      padding-top: 8%;
      height: 380px;
   }
}

@media (max-width: 425px) {
   .registration {
      margin-left: 5.5%;
      margin-top: 15%;
    }

    img {
      display: block;
      margin: auto;
    }

    .features {
      padding-top: 12%;
      height: 500px;
    }
    .caption {
      text-align: center;
    }

    .title {
      text-align: center;
    }

    .see-more{
      margin-left: 34%;
    }
}